/* * {
    background-color: cyan;
} */

body {
    background-color: #f1faee;
}

button {
    font-size: 30px;
    background-color: #a8dadc;
}

h1,
h2 {
    color: #1d3557;
}

/* ID is use for specified style among other */
/* ID must be unique in one page */
#signup {
    background-color: #1d3557;
    color: #f1faee;
}

span {
    color: #457b9d;
}

.tag {
    background-color: #e63946;
    color: #f1faee;
    font-size: 16px;
}

.post a {
    color: #457b9d;
    font-weight: 700;
    text-decoration: none;
}

footer a {
    color: #e63946;
}

h2 + button {
    font-size: 20px;
}

footer > a {
    color: #457b9d;
}

input[type="password"] {
    color: greenyellow;
}

a[href*="google"] {
    color: #1d3557;
}

/* class with : is pseudo class */
/* :hover will effect only when we hover cursor above */
.post a:hover {
    text-decoration: underline;
}

/* active will effect only when we click on them & not release yet */
.post button:active {
    background-color: #02c39a;
}

/* nth-of-type will effect on the specific count of that element */
/* e.g. :nth-of-type(3) ==> will effect on the third of element */
/* in this case it will effect on the even count of the element */
.post:nth-of-type(2n) {
    background-color: #dfe8dc;
}

/* :: pseudo element */
/* pseudo element is about to specific the "thing" in inside the element */
h2::first-letter {
    font-size: 50px;
}

p::first-line {
    color: purple;
}

/* color of text that being select (drag mouse) */
p::selection {
    background-color: #fcbf49;
}

.post button:hover {
    background-color: #e63946;
    color: #f1faee;
}

button:hover {
    background-color: olive;
}

button {
    background-color: magenta !important;
}
