section {
    width: 80%;
    height: 800px;
    /* background can have plenty of properties to set */
    background-image: url("https://images.unsplash.com/photo-1564442038901-4f9a19d3d456?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1227&q=80");
    /* background-size: cover; is to set image cover the element (zoom) */
    background-size: cover;
    background-position: top;
    /* it can like into short hand only background */
    /* to use image size & position together in short-hand it need use / */
    /* we can also have multiple background at once */
    background: center/cover url("https://images.unsplash.com/photo-1564442038901-4f9a19d3d456?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1227&q=80");
    margin: 0 auto;
}

h1 {
    font-size: 150px;
    text-align:center;
    text-shadow: black -6px 6px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
    color:white;
}